{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block title %}
{% trans "Sign In" %}
{% endblock %}
{% block inner_content %}

        <h3>Login to your account</h3>

        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <p><a href="{{ signup_url }}">Register</a></p>
            <button class="btn btn-lg btn-success btn-block" type="submit">{% trans "Sign In" %}</button>

        {% if socialaccount.providers %}

            {% load socialaccount %}
            {% providers_media_js %}
            <h3><small>Sign in with:</small></h3>

            <a class="btn btn-primary" href="{% provider_login_url "facebook" method="js_sdk" process="connect" %}">
                <i class="fa fa-facebook"></i> Facebook</a>
            <a class="btn btn-danger" href="{% provider_login_url "google" method="js_sdk" %}">
                <i class="fa fa-google"></i> Google</a>


        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
        </form>
{% endblock %}
