{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block title %}
{% trans "Sign In" %}
{% endblock %}
{% block inner_content %}

        <h3>Login to your account</h3>

        <p>
            We are currently undergoing closed beta. <br />
            If you would like to try out Scinapsis, <a href="http://www.scinapsis.com/contact/">contact us</a> to gain access.
        </p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="btn btn-lg btn-success btn-block" type="submit">{% trans "Sign In" %}</button>

        </form>
{% endblock %}
