{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/assets/plugins/flexslider/flexslider.css">

	    <!-- CSS Page Style -->
        <link rel="stylesheet" href="/static/assets/css/one.style.css">

	    <!-- CSS Theme -->
	    <link rel="stylesheet" href="/static/assets/css/theme-colors/purple.css">

	    <!-- CSS Customization -->
        <link rel="stylesheet" href="/static/css/pages/page_search.css">
        <link rel="stylesheet" href="/static/css/my_theme.css">
	    <link rel="stylesheet" href="/static/assets/css/custom.css">
        {% endblock %}

{% block base_content %}

<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->

<div class="col-md-12 text-center panels-w-bg" style="margin-top: 0 !important; margin-bottom: 4em">
    <div class="container title-v1">

        <h2>About Scinapsis</h2>
        <p >Scinapsis is founded by a group of life science researchers at the University of Toronto.  We understand and share difficulties common to fellow researchers.  We are passionate about increasing productivity of research by creating new tools to accelerate discoveries.</p>
    </div>

    <img class="img-responsive center-block" width="70%" src="/static/images/sliders/slide2.png" />

</div>

<div class="container title-v1">
    <h2>Evidence-Of-Use</h2>

    <p><strong>Peer-reviewed publications are the new catalog for laboratory consumables.</strong>
    Researchers often look for evidence-of-use in literature before buying a new antibody or reagent.
    </p>

</div>

<div class="col-md-12 text-center">
    <img class="img-responsive center-block" width="60%" src="/static/images/sliders/slide3.png" />
</div>


<div class="col-md-12 text-center panels-w-bg" style="margin-bottom: 3em">
    <div class="container title-v1">
    <h2>Search By Evidence</h2>
    <p>Scinapsis is a service for scientists, providing <strong>quick</strong> and <strong>easy</strong> access to evidence-of-use for different antibodies and reagents in peer-reviewed literature.  Through Scinapsis, scientists will be able to search antibodies or reagents by evidence, as opposed to catalog number alone.</p>
    </div>
    <img class="img-responsive center-block" width="60%" src="/static/images/sliders/slide4.png" />
</div>


<div class="container">

    <!--/row-->

        <div class="headline"><h2>Meet Our Team</h2></div>

        <div class="row team">
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_tom_sm.png" alt="" />
                    <h3><a>Tom Leung</a> <small>Founder</small></h3>
                    <p>Tom is a PhD Candidate in Laboratory Medicine at University of Toronto in Epigenetics.  He is passionate about developing methods to increase efficiency within science research and help fellow scientists uncover new discoveries through increased productivity.</p>
                    <!--
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    -->
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_michael_sm.png" alt="" />
                    <h3><a>Michael Wong</a> <small>Co-founder</small></h3>
                    <p>Michael has over 8 years of Information Technology and data warehousing experience in the logistics and banking industries.  His expertise lies in large data analysis, financial modeling and business intelligence.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_david_sm.png" alt="" />
                    <h3><a>David Qixiang Chen</a> <small>Co-founder</small></h3>
                    <p>David is a PhD Candidate in Institute of Medical Science at University of Toronto. He is also a Software Engineering specialist experienced with computer graphics. He is passionate about combining computing, neuroscience and medicine.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_prita_sm.png" alt="" />
                    <h3><a>Prital Patel</a> <small>Social Media Correspondence</small></h3>
                    <p>Prital is a PhD Candidate in Medical Biophysics at University of Toronto. She is currently the Social Media Director at the Life Sciences Career Development Society at UofT. Prital enjoys bringing engaging content to users through social media.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_abhi_sm.png" alt="" />
                    <h3><a>Abhiram Pushparaj</a> <small>Business Development</small></h3>
                    <p>Abhi is a PhD Candidate in Neuropharmacology at the University of Toronto and conducts research at the Centre for Addiction and Mental Health. For Scinapsis, Abhi focuses on ensuring value for our industry partners without compromising the trust of the Scinapsis research community.  He truly believes Scinapsis is a platform capable of benefiting all parties involved.</p>
                </div>
            </div>

        </div>
        <!--/team-->

        <div class="headline"><h2>Scientific Advisors</h2></div>


        <div class="row team">
            <div class="col-sm-2">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_sci_mbrown.png" alt="" />
                </div>
            </div>
            <div class="col-sm-6">
                    <h3><a>Dr. Martha Brown</a></h3>
                    <p>Dr. Martha Brown is an associate professor at the Department of Molecular Genetics and Laboratory Medicine and Pathobiology at the University of Toronto.  Prof. Brown is a virology and molecular cell biology specialist.  Her primary research area is in infectious disease.  Her expertise in molecular experimental techniques is instrumental to the development of Scinapsis.</p>
            </div>
        </div>

        <div class="row team">
            <div class="col-sm-2">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_sci_dphilpott.png" alt="" />
                </div>
            </div>
            <div class="col-sm-6">
                    <h3><a>Dr. Dana Philpott</a></h3>
                    <p>Dr. Philpott is an Associate Professor in the Dept. of Immunology and the co-director of the CFI funded “Host-Microbiome Research Network” at the University of Toronto.   Prof. Philpott’s research interest is on how our gut microbiome influences innate immune response and contributes to disease pathogenesis.  Her expertise in molecular biology will assist the development of the Scinapsis algorithm. </p>
            </div>
        </div>

        <div class="row team">
            <div class="col-sm-2">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="/static/images/profile_sci_dchan.png" alt="" />
                </div>
            </div>
            <div class="col-sm-6">
                    <h3><a>Darren Chan</a></h3>
                    <p>Darren Chan is a lab manager and senior research technologist at the Krembil Discovery Center at Toronto Western Hospital.  He has over 20 years of research experience at the University of Toronto and published over 15 papers in eye research.  His knowledge in research provided valuable input to the development of Scinapsis.</p>
            </div>
        </div><!--/sci advisors-->
        <!-- End Meer Our Team -->

</div>
<!--/container-->

<!--=== End Content Part ===-->

{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/static/assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="/static/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/pages/page_contacts.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        LayerSlider.initLayerSlider();
    });
</script>
{% endblock %}
