{% extends "base.html" %}

{% block metadesc %}
    <meta property="og:title" content="Scinapsis">
    <meta name="description" content="Keep up to date with all the latest developments in life science research and technology!">
{% endblock %}
{% block css %}
   <!-- CSS Page Style -->
    <link href="/static/assets/css/pages/blog_masonry_3col.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/theme-colors/purple.css">
    <link href="/static/css/pages/custom.css" rel="stylesheet">
    {% endblock %}

{% block base_content %}
<!--=== Content Part ===-->
<div class="blog_masonry_3col container">
    <div class="content grid-boxes masonry col-md-9">
        {% for post in object_list %}
            <div class="grid-boxes-in">
            {% include "blog_item.html" %}
            </div>
        {% endfor %}
    </div>

{% include "sidebar.html" %}


</div>


{% endblock %}

{% block js %}
<!-- JS Page Level -->
<script type="text/javascript" src="/static/assets/plugins/masonry/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/pages/blog-masonry.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}