{% extends "base.html" %}
{% block css %}
	    <link rel="stylesheet" href="/static/assets/plugins/flexslider/flexslider.css">

	    <!-- CSS Page Style -->
	    <link rel="stylesheet" href="/static/assets/css/pages/page_contact.css">

	    <!-- CSS Theme -->
	    <link rel="stylesheet" href="/static/assets/css/theme-colors/purple.css">

	    <!-- CSS Customization -->
	    <link rel="stylesheet" href="/static/assets/css/custom.css">
        {% endblock %}

{% block base_content %}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Our Contacts</h1>
    </div>
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">
            <h2><u>Who we are?</u></h2>
            <p>Scinapsis is founded by a group of passionate life science researchers at U of T with an aim to help fellow scientists to find best reagents for their experiments in a quick and simple manner.</p>
            <br>
            <h2><u>Search-by-evidence</u></h2>
            <p><b>Peer-reviewed publications are the new catalog for laboratory consumables.</b> It is a common practice for researchers to look for evidence-of-use in literature before buying a new reagent. Scinapsis is a service in which sceintists can <b>quickly</b> and <b>easily</b> look for evidence-of-use for a particular reagent in peer-reviewed literatures. We allow researchers to search a reagent by evidence, not by catalogue number.</p>
            <br>
        </div>
        <!--/col-md-9-->

        <div class="col-md-3">
            <!-- Google Map -->
            <div id="map" class="map map-box map-box-space1 margin-bottom-40">
            </div>
            <!---/map-->
            <!-- End Google Map -->

            <!-- Contacts -->
            <div class="headline">
                <h2>Contacts</h2>
            </div>
            <ul class="list-unstyled who margin-bottom-30">
                <li>
                    University of Toronto</li>
            </ul>
            <!-- End Contacts -->
        </div>
        <!--/col-md-3-->
    </div>
    <!--/row-->
</div>
<!--/container-->

<!--=== End Content Part ===-->

{% endblock %}

{% block js %}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/static/assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="/static/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/pages/page_contacts.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        ContactPage.initMap();
    });
</script>
{% endblock %}