{% extends "base.html" %}

{% block metadesc %}
    <meta property="og:title" content="Scinapsis - The Antibody Search-By-Evidence Engine">
    <meta name="description" content="Scinapsis is the antibody search engine that connects researchers with the reagents they need, based on the peer-reviewed evidences they seek.">
{% endblock %}

{% block css %}



    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/static/css/pages/page_search.css">


    <!-- CSS Theme -->
    <link rel="stylesheet" href="/static/assets/css/theme-colors/purple.css">

    <link rel="stylesheet" href="/static/css/custom.css">
{% endblock %}

{% block base_content %}



<!--=== Search Block ===-->
<div class="search-block parallaxBg" style="height: 400px">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1><span class="color-purple">Search-By-Evidence</span></h1>
            <form method="get" action="http://search.scinapsis.com" >
            <div class="input-group">

                <input type="text" class="form-control" name="q" placeholder="Enter your favorite proteins here...">
                <span class="input-group-btn">
                       <button class="btn-u btn-u-purple btn-u-lg"><i class="fa fa-search"></i></button></span>

            </div>
            </form>
        </div>
    </div>
</div>

<!--/container-->
<!--=== End Search Block ===-->

<!--=== Recent Posts ===-->
<div class="search-block2 parallaxBg">
    <div class="container content">

        <div class="row">
            {% for post in pinned %}
            <div class="col-sm-4">
                {% include "blog_item.html" %}
            </div>
            {% endfor %}
        </div>

    </div>
</div>



{% endblock %}

{% block js %}


{% endblock %}
