            <!-- Right Sidebar -->
            <div class="col-md-3 magazine-page">
            <!--

                <div class="headline headline-md"><h2>Search By Evidence</h2></div>
                <div class="input-group margin-bottom-40">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button">Go</button>
                    </span>
                </div>


                -->

                <!-- Blog Tags -->
                <div class="headline headline-md"><h2>Article Tags</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    {% for tag in tags %}
                    <li><a href="/blog/tag/{{tag.tag__name}}"><i class="fa fa-tags"></i> {{tag.tag__name}} ({{tag.tag__name__count}})</a></li>
                    {% endfor %}

                </ul>
                <!-- End Blog Tags -->
                <!-- End Blog Latest Tweets -->
                <div class="headline headline-md"><h2>Twitter</h2></div>
                <a class="twitter-timeline" href="https://twitter.com/scinapsis" data-widget-id="560996400830623745">Tweets by @scinapsis</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <!-- End Right Sidebar -->