<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Scinpasis</title>
	<!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Page Style -->
    <link href="/static/assets/css/pages/blog_masonry_3col.css" rel="stylesheet">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/static/assets/css/theme-colors/purple.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">
	</head>

<body class="boxed-layout container">
<div class="wrapper">
     <!--=== Header ===-->
	    <div class="header">
	        <!-- Topbar -->
	        <div class="topbar">
	            <div class="container">
	                <!-- Topbar Navigation -->
	                <ul class="loginbar pull-right">
	                    <li class="languagesSelector">
	                        <i class="fa fa-globe"></i>
	                        <a>Languages</a>
	                        <ul class="languages">
	                            <li class="active">
	                                <a href="#">English <i class="fa fa-check"></i></a>
	                            </li>
	                        </ul>
	                    </li>
	                    <li class="topbar-devider"></li>
	                    <li><a href="/admin/">Login</a></li>
	                    <li class="topbar-devider"></li>
                             <li>
                                   <a href="http://www.facebook.com" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                   <i class="fa fa-facebook"></i>
                                   </a>
	                           </li>
	                           <li class="topbar-devider"></li>
	                           <li>
				    <a href="https://twitter.com/scinapsis" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
		                    <i class="fa fa-twitter"></i>
				    </a>
	                            </li>
		                    <li class="topbar-devider"></li>
                                    <li>
                                    <a href="http://www.linkedin.com" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
		    	            <i class="fa fa-linkedin"></i>
                                    </a>
	                            </li>
                    <!-- End Social Links -->
	                </ul>
	                <!-- End Topbar Navigation -->
	            </div>
	        </div>
        <!-- End Topbar -->

		<!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img id="logo-header" src="/static/assets/img/Scinapsis-logo-print-colour-h.svg" alt="Logo">
                    </a>
                </div>

               <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse navbar-responsive-collapse">
		    <ul class="nav navbar-nav">
		    <!-- Home -->
		    <li class="dropdown">
		    <li><a href="{% url 'home' %}">Home</a></li>
		    </li>
		    <!-- End Home -->

		    <!-- Blog -->
		    <li class="dropdown">
		
		    </li>
		    <!-- End Blog -->

		    <!-- Contacts -->
		    <li class="dropdown">
		    <li><a href="{% url 'contact' %}">Contact Us</a></li>
		    </li>
		    <!-- End Contacts -->
		    </ul>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->

    {% for post in object_list %}
    <p>{{ post.created }}: <a href="/blog/{{post.id}}">{{ post.title }}</a></p>
    {% endfor %}
    
       <!--=== Content Part ===-->
       <div class="blog_masonry_3col">
           <div class="container content grid-boxes">
               <div class="grid-boxes-in">
                   <img class="img-responsive" src="/static/assets/img/masonry/blog2.jpg">
                   <div class="grid-boxes-caption">
                       <h3><a href="actualblog.html">Spotlight Interview with Dr. Filippos Pedis</a></h3>
                       <ul class="list-inline grid-boxes-news">
                           <li><span>By</span> <a href="#">Tom Leung</a></li>
                           <li>|</li>
                           <li><i class="fa fa-clock-o"></i> Date </li>
                           <li>|</li>
                           <li><a href="#"><i class="fa fa-comments-o"></i> Comments</a></li>
                       </ul>
                       <p>For this week&#8216s Spotlight Interview, we invited Dr. Filippos Pedis at the Lunenfeld-Tanenbaum Research Institute, Toronto, to share with us his thoughts on the current research environment, and also a little about his own projects.</p>
                   </div>
               </div>

               <div class="grid-boxes-in">
              	                <iframe title="YouTube video player" class="youtube-player" type="text/html"
			  					width="100%" height="305" scrolling="no" src="http://www.youtube.com/embed/w4jBQqkVt1I"
			  					frameborder="0" ebkitAllowFullScreen mozallowfullscreen allowFullScreen>
					</iframe>
              </div>
           </div><!--/container-->
       </div>
    <!--=== End Content Part ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-5 md-margin-bottom-40">
                        <img id="logo-footer" class="footer-logo" src="/static/assets/img/small2.png" alt="">
                        <h2>Our Mission:</h2>
                        <p>Our name "Scinapsis" comes from the world "synapsis", which means "pairing of homologous chromsomes". Our mission is to "pair", or connects, scientists to reagents they need for different experiments.</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->
 				 <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                    </div><!--/col-md-3-->
                    <!-- End Link List -->
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <ul class="list-unstyled link-list">
                            <li>Useful links:</li>
                            <li><br>Contact Us: Info[at]scinapsis[dot]com</li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2015 &copy; All Rights Reserved.
                           <a href='{% url 'privacy' %}'>Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/static/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/static/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/static/assets/plugins/masonry/jquery.masonry.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/static/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript" src="/static/assets/js/pages/blog-masonry.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="/static/assets/plugins/respond.js"></script>
    <script src="/static/assets/plugins/html5shiv.js"></script>
    <script src="/static/assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>