{% extends "base.html" %}

{% block css %}
    <!-- CSS Theme -->
    <link rel="stylesheet" href="/static/assets/css/theme-colors/default.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">

{% endblock %}


{% block base_content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Privacy & Use of Cookies</h1>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
	    <div class="container content">
	    	<div class="row-fluid privacy">
	            <p class="lead">What is a cookie?</p>
	            <p>A cookie is a small text file placed on your computer by a website to store a small amount of information.  They cannot be used to identify you and they cannot be used to put viruses or malware on your computer.  For more information we suggest reading the <a href="http://en.wikipedia.org/wiki/HTTP_cookie" target = "new"> Wikipedia</a> article and the <a href="http://www.bbc.co.uk/webwise/guides/about-cookies" target = "new"> BBC's guide to cookies</a>.</p><br />
				<p class="lead">Why do we use cookies?</p>
	            <p>Scinpasis's website uses cookies to improve your experience and provide us with information to make further improvements.  Generally cookies are used for two purposes: to remember a preference or setting that you have specified on the site (e.g. to remember that you are logged in) or to measure how people interact with the site.  We only set cookies which we think are necessary.</p><br />
				<p class="lead">First Party Cookies</p>
	            <p>These are cookies we set and we are in control of.</p><br />
	            <p>- _Scinpasis_session: This cookie will be set when you login.  No personal information is stored.</p><br />
				<p class="lead">Third Party Cookies</p>
	            <p>These are cookies set by tools and services we use to deliver our website. Scinapsis does not have control over third party content providers use of cookies.  For more information on the use of such cookies, please refer to the privacy and cookie policy on the 3rd party's website.</p><br />
	            <p>Scinapsis is aware of the following 3rd party cookies being set: </p><br />
	            <p>- __utma, __utmb, __utmc, __utmz: These are set by Google Analytics, a service which lets us collect usage data about our website. All data is collected anonymously and presented in aggregate.</p><br />
				<p class="lead">Controlling Cookies</p>
				<p>If you don't want cookies to be set on your computer, you can change your browser's preferences to alert you to a new cookie or block all cookies immediately.  You can also use tools within your browser to delete cookies that have been set, often on a per-site basis.</p><br />
				<p>Preventing cookies from being set will likely degrade your browsing experience and cause many websites and features to not work correctly.</p><br />
				<p>For information on how to manage cookies in various browsers and on different devices visit <a href="http://www.aboutcookies.org" target = "new">www.aboutcookies.org</a>.</p><br /><br />
				<p class="lead">National Library of Medicine (NLM)</p>
	            <p>NLM represents that its data were formulated with a reasonable standard of care. Except for this representation, NLM makes no representation or warranties, expressed or implied. This includes, but is not limited to, any implied warranty of merchantability or fitness for a particular purpose, with respect to the NLM data, and NLM specifically disclaims any such warranties and representations.</p><br />
	            <p class="lead">NLM copyright statement </p>
			    <p>NLM data are produced by a U.S. Government agency and include works of the United States Government that are not protected by U.S. copyright law but may be protected by non-US copyright law, as well as abstracts originating from publications that may be protected by U.S. copyright law.</p><br />
	           	<p>NLM assumes no responsibility or liability associated with use of copyrighted material, including transmitting, reproducing, redistributing, or making commercial use of the data. NLM does not provide legal advice regarding copyright, fair use, or other aspects of intellectual property rights. Persons contemplating any type of transmission or reproduction of copyrighted material such as abstracts are advised to consult legal counsel.</p><br />
	           </div><!--/row-fluid-->
	    </div><!--/container-->
    <!--=== End Content Part ===-->


    </div><!--/container-->
    <!-- End Content Part -->

    {% endblock %}
{% block js%}
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
{% endblock %}