/*Page Search
------------------------------------*/
/*Search Block*/
.search-block, .panels-w-bg {

	padding: 10em 0;
	text-align: center;
	position: relative;
	margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-image: url('../../images/white_shadow_mid.png'), url('../../images/search_bg_side1.svg');
    background-position: center;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed;
    background-size: 100%, 150px;
}
.panels-w-bg {
    background-image: url('../../images/white_shadow_mid.png'), url('../../images/search_bg_side_bw.svg');
    padding: 3em 0;
}


.search-block:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: " ";
	position: absolute;
}

.search-block h1 {
	color: #000;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.search-block .input-group {
	margin-bottom: 10px;
}

.search-block .form-control {
	height: 48px;
	font-size: 16px;
	font-weight: 200;
}

/*Category
------------------------------------*/
/*Section-Block*/
.section-block {
	padding: 20px;
	border: 1px solid #eee;
	box-shadow: 0 0 3px #eee;
}

.section-block h2 {
	color: #333;
	font-size: 28px;
	font-weight: 200;
	margin: 10px 0 15px;
}

.section-block .text-center p {
	margin-bottom: 0;
}

.section-block .section-block-info {
	margin-top: 5px;
	padding-top: 20px;
	border-top: solid 1px #eee;
}

.section-block .section-block-info ul {
	margin-bottom: 0;
}