{% extends "base.html" %}

{% block css %}
<style TYPE="text/css">
<!--
.search-block {
    background-image: url('/static/images/white_shadow_mid.png'), url('/static/images/search_bg_side1.svg');
    background-position: center;
    background-repeat: repeat-y, repeat;
    background-attachment: fixed;
    background-size: auto, 200px;
    padding: 1em 0;
    border-bottom: 1px solid #eee;
}

.citation {
    margin: 0.1em 0;
    padding: 0;
}
.cite-author {
    color: #888;
}

.citation-tags li {
    margin: 0;
    padding: 0;
}

-->
</style>
    {% block index_css %}
    {% endblock %}
{% endblock %}


{% block base_content %}

<!--=== Search Block ===-->
<div class="search-block">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 input-group">
        <form class="navbar-form" method="GET" role="search" action="/">
                <input type="text" class="form-control" placeholder="Search" name="q" value="{{query_set.keywords}}" style="width: 80%">
                <span class="input-group-btn">
                    <button type="submit" class="btn-u btn-u-purple"><span class="icon-search"></span></button>
                </span>
        </form>
        </div>
    </div>
</div>
<!--/container-->

<div class="content">
{% block search_content %}
{% endblock %}
</div>
{% endblock %}