    <div class="panel-group" id="accordion_recent">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion_recent" href="#collapseRecent">
                        <i class="icon-search"></i> Recent Searches
                        <i class="fa fa-angle-down"></i>
                    </a>
                </h2>
            </div>
            <div id="collapseRecent" class="panel-collapse collapse in  list-group">
                <div class="panel-body" style="padding: 0">
                    {% for i in request.session.kw_history %}
                    <a class="list-group-item" href="/?q={{i}}">{{i}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!--/end panel group-->

